body {
  background: Grape(to right, #483847,  #6b2b61);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.myphoto p {
  text-align: center;
  padding: 3px;
  color: #483847;
  font-size: 21px;
}

img {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 99em;
  box-shadow: 0px 0px 10px 5px;
  color: #E4073FF;
}

.title {
  text-align: center;
}

td:hover {
  background-color: lightblue;
}

th:hover {
  background-color: lightblue;
}

.kepala-tabel {
  background-color: lightblue;
}

.tabel {
  border-collapse: collapse;
  width: 100%;
}

.tombol-bestie {
  background-color: lightskyblue;
  color: #483847;
  border-radius: 20px;
  padding: 15px 5px;
  width: 120px;
  box-shadow: 0px 0px 10px 3px;
  margin-right: auto;
  margin-left: auto;
}


.tombol-teman a {
  padding: 15px 25px;
}

.tombol-temancss {
  background-color: lightblue;
  color: #483847;
  border-radius: 20px;
  padding: 15px 5px;
  width: 120px;
  box-shadow: 0px 0px 10px 3px;
  margin-right: 450px;
  margin-top: -48px;
  margin-left: auto;
}

.tombol-bestie a {
  padding: 15px 25px;
}

.tombol-bestie-css {
  background-color: lightblue;
  color: #483847;
  border-radius: 20px;
  padding: 15px 5px;
  width: 120px;
  box-shadow: 0px 0px 10px 3px;
  margin-right: 450px;
  margin-top: -48px;
  margin-left: auto;
}

.tombol-bestie-css a {
  padding: 15px 25px;
}

.tombol-bestie-jquery {
  background-color: lightblue ;
  color:  #483847;
  border-radius: 20px;
  padding: 15px 5px;
  width: 145px;
  box-shadow: 0px 0px 10px 3px;
  margin-right: 450px;
  margin-top: -48px;
  margin-left: 429px;
}

.tombol-back-bestie-css a:hover {
  background-color: lightblue;
}

