body{
      background-color: DeepSkyBlue;
      background-image:url(wisuda.jpg);
}
* {
	padding:0;
	margin:0;
	font-family: 'Quicksand', sans-serif;
	color: #333;
}
header {
	height:70px;
}
header h1 {
	display: inline-block;
	float: left;
	padding:15px 24px;
	text-transform: uppercase;
}
header h1 a {
	transition: .3s;
}
header h1 a:hover {
	color: #FB2322;
}
header ul {
	float: right;
}
header ul li {
	padding:24px;
	display: inline-block;
}
header ul li a {
	transition: .3s;
}
header ul li a:hover {
	color: #48D1CC;
}
a {
	text-decoration: none;
}
